# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = deathmatch_duel_1000.wad
game_args = -deathmatch +sv_spawnfarthest 1
episode_timeout = 3000

screen_resolution = RES_320X240
screen_format = CRCGCB
render_hud = true

available_buttons =
    {
        MOVE_FORWARD
        MOVE_BACKWARD
        TURN_LEFT
        TURN_RIGHT
        MOVE_LEFT
        MOVE_RIGHT
        ATTACK
    }

available_game_variables = { HEALTH DEATHCOUNT FRAGCOUNT DAMAGECOUNT DAMAGE_TAKEN DEAD SELECTED_WEAPON_AMMO }

mode = PLAYER
doom_skill = 5
