# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

<<<<<<< HEAD
doom_scenario_path = music_sound.wad
doom_map = map01
=======
doom_scenario_path = music_single_sound_finder.wad

>>>>>>> 27a629159cb79c9bb27f29ce7d93e0004b8a5b71
# Rewards
# living_reward = -0.0001
living_reward = 0

<<<<<<< HEAD
# Don’t allocate optional buffers
#depth_buffer_enabled   = true
#labels_buffer_enabled  = true
#automap_buffer_enabled = true
audio_buffer_enabled   = True
audio_sampling_rate = SR_44100



# Rendering options
#screen_resolution = RES_320X240
#screen_format = CRCGCB
render_hud = true
#render_crosshair = false
render_weapon = true
render_decals = false
render_particles = false
#window_visible = false
=======
# Rendering options
screen_resolution = RES_640X480
screen_format = CRCGCB
render_hud = false
render_crosshair = false
render_weapon = true
render_decals = false
render_particles = false
window_visible = false
>>>>>>> 27a629159cb79c9bb27f29ce7d93e0004b8a5b71

# make episodes start after 10 tics (after unholstering the gun)
episode_start_time = 10

# make episodes finish after 2100 actions (tics)
<<<<<<< HEAD
episode_timeout = 300
=======
episode_timeout = 2100
>>>>>>> 27a629159cb79c9bb27f29ce7d93e0004b8a5b71

# Available buttons
available_buttons =
	{
		TURN_LEFT
		TURN_RIGHT
<<<<<<< HEAD
#		MOVE_FORWARD
#        MOVE_BACKWARD
	 	MOVE_LEFT
		MOVE_RIGHT
=======
		MOVE_FORWARD
        MOVE_BACKWARD
#		MOVE_LEFT
#		MOVE_RIGHT
>>>>>>> 27a629159cb79c9bb27f29ce7d93e0004b8a5b71
	}

# Game variables that will be in the state
available_game_variables = { AMMO0 }

mode = PLAYER
doom_skill = 5
