# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = simple_tag_audio.wad
game_args = -deathmatch +teamplay 0 +sv_spawnfarthest 1 +sv_noautoaim 1 +sv_norespawn 1

episode_timeout = 4235
living_reward = 0
death_reward = 0
kill_reward = 0

# Rendering options
screen_resolution = RES_320X240
screen_format = CRCGCB
render_hud = false
render_crosshair = false
available_buttons =
    {
        MOVE_LEFT
        MOVE_RIGHT
        MOVE_FORWARD
        MOVE_BACKWARD
        TURN_LEFT
        TURN_RIGHT
    }

# 50-52: Caught (0/1), catcher index+1 (0 if none), active elapsed tics
available_game_variables = { HEALTH DEAD PLAYER_NUMBER USER50 USER51 USER52 }
audio_buffer_enabled = true
audio_buffer_size = 4
sound_enabled = true

mode = PLAYER
doom_skill = 5
