# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = ssl2.wad

#12 minutes (may be overridden when server is created)
episode_timeout = 25200

# Rendering options
screen_resolution = RES_640X480
screen_format = CRCGCB
render_hud = true
render_crosshair = true
render_weapon = true
render_decals = false
render_particles = false

window_visible = true

# Available buttons

available_buttons = {
        MOVE_FORWARD
        MOVE_BACKWARD
        MOVE_RIGHT
        MOVE_LEFT
        SELECT_WEAPON1
        SELECT_WEAPON2
        SELECT_WEAPON3
        SELECT_WEAPON4
        SELECT_WEAPON5
        SELECT_WEAPON6
        SELECT_WEAPON7
        ATTACK
        SPEED
        USE
        TURN_LEFT_RIGHT_DELTA
}

# Game variables that will be in the state
# They should be on single line because they are parsed by regular expression! (TODO?)
available_game_variables = { POSITION_X POSITION_Y ANGLE SELECTED_WEAPON SELECTED_WEAPON_AMMO HEALTH ARMOR USER2 DEATHCOUNT FRAGCOUNT HITCOUNT DEAD WEAPON0 WEAPON1 WEAPON2 WEAPON3 WEAPON4 WEAPON5 WEAPON6 WEAPON7 WEAPON8 WEAPON9 AMMO0 AMMO1 AMMO2 AMMO3 AMMO4 AMMO5 AMMO6 AMMO7 AMMO8 AMMO9 ATTACK_READY DAMAGECOUNT PLAYER_NUMBER PLAYER_COUNT PLAYER1_FRAGCOUNT PLAYER2_FRAGCOUNT PLAYER3_FRAGCOUNT PLAYER4_FRAGCOUNT PLAYER5_FRAGCOUNT PLAYER6_FRAGCOUNT PLAYER7_FRAGCOUNT PLAYER8_FRAGCOUNT PLAYER9_FRAGCOUNT }

mode = PLAYER
