# CMake and building output
/bin
Makefile
ImportExecutables.cmake
**/link-make

**/vizdoom
**/vizdoom.pk3

*~
**.o
**.a
**.so
**.lib
**.dll
**.exp
**/build
**/CMakeCache.txt
**/CMakeFiles
**/CMakeScripts
**/cmake_install.cmake
**/install_manifest.txt

# MSVC
**.sln
**.suo
**.sdf
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Python 
**.pyd
**.pyc

# Java
**.jar
**.class

# Copied from the original ZDoom repository (and modified)
**/Debug
**/Release
**/debug
**/release
**.ncb
**.suo
**.pdb
**.ilk
**.aps
**/wadsrc_wad
**.user
**/DOOMSTATS.TXT
vizdoom_src/src/sc_man_scanner.h
vizdoom_src/src/xlat_parser.c
vizdoom_src/src/xlat_parser.h
vizdoom_src/src/xlat/xlat_parser.out
vizdoom_src/tools/*/debug
vizdoom_src/tools/*/release
vizdoom_src/tools/*/*.exe
vizdoom_src/tools/lemon/lemon
vizdoom_src/tools/re2c/re2c
vizdoom_src/tools/updaterevision/
vizdoom_src/tools/zipdir/x64
vizdoom_src/game-music-emu/x64/
vizdoom_src/dumb/libdumb.a
vizdoom_src/gdtoa
vizdoom_src/game-music-emu/gme/libgme.a
vizdoom_src/lzma/liblzma.a
vizdoom_src/tools/zipdir/zipdir

# Game wads, scenarios backups and personal configurations
**.bak
**/doom2.wad
**/doom.wad
**/vizdoom.ini
**/freedoom2.wad
**/freedoom1.wad
**/freedm.wad
**.bcp
.idea
