# CMake and building output
**/bin
ViZDoomVersion.h
viz_version.h
Makefile
ImportExecutables.cmake
**/link-make

*~
*.o
*.obj
*.lo
*.slo
*.a
*.so
*.lib
*.dll
*.dylib
*.la
*.lai
*.pk3
*.exp
*.out
*.app
**/build
**/CMakeCache.txt
**/CMakeFiles
**/CMakeScripts
**/cmake_install.cmake
**/install_manifest.txt
*.cbp

# MSVC
*.sln
*.suo
*.sdf
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Python 
*.pyd
*.pyc
examples/python/*.cfg
examples/python/*.ini

# Lua
examples/lua/*.cfg
examples/lua/*.ini
examples/lua/vizdoom
vizdoom-1.1.0-1.src.rock

# Java
*.jar
*.class

# Copied from the original ZDoom repository (and modified)
*.cbp
*.ncb
*.pdb
*.ilk
*.aps
*.user
**/Debug
**/Release
**/debug
**/release
**/release_gcc
**/debug_gcc
**/DOOMSTATS.TXT
src/vizdoom/bzip2/x64/
src/vizdoom/game-music-emu/x64/
src/vizdoom/gdtoa/arith.h
src/vizdoom/gdtoa/arithchk
src/vizdoom/gdtoa/gd_qnan.h
src/vizdoom/gdtoa/qnan
src/vizdoom/gdtoa/x64/
src/vizdoom/jpeg-6b/x64/
src/vizdoom/lzma/x64/
src/vizdoom/src/sc_man_scanner.h
src/vizdoom/src/xlat_parser.c
src/vizdoom/src/xlat_parser.h
src/vizdoom/src/xlat_parser.out
src/vizdoom/src/xlat_parser.y
src/vizdoom/tools/*/debug
src/vizdoom/tools/*/release
src/vizdoom/tools/*/*.exe
src/vizdoom/tools/lemon/lemon
src/vizdoom/tools/re2c/re2c
src/vizdoom/tools/updaterevision/x64/
src/vizdoom/tools/updaterevision/updaterevision
src/vizdoom/tools/zipdir/x64
src/vizdoom/tools/zipdir/zipdir
src/vizdoom/wadsrc_wad
src/vizdoom/zdoom_docs
src/vizdoom/zlib/x64/

# Game wads, scenarios backups, logs, demos and personal configurations
*.bak
*.bcp
*.lmp
*.log
*.zip
**/doom2.wad
**/doom.wad
**/freedoom2.wad
**/freedoom1.wad
**/freedm.wad

# CLion & PyCharm
**/.idea
**_vizdoom.ini
cmake-build-debug/
dist/
vizdoom.egg-info/

# MacOS
.DS_Store