**.pyc
**.o
**.so
**/build
**/CMakeCache.txt
**/CMakeFiles
**/CMakeScripts
**/cmake_install.cmake
**/install_manifest.txt
vizia_doom_src/**/Makefile
.idea

#copied from the original zdoom repository (and modified)
/Debug
**.ncb
**.suo
**.pdb
**.ilk
**.aps
/Release
/wadsrc_wad
**.user
/debug
/release
**/debug
**/release
/release_gcc
*/dumb/vc6/dumb_static/release
*/dumb/vc6/dumb_static/debug
*/dumb/vc6/dumb_static/x64
*/DOOMSTATS.TXT
*/src/gitinfo.h
*/src/sc_man_scanner.h
*/src/xlat_parser.c
*/src/xlat_parser.h
*/src/xlat/xlat_parser.out
/tools/*/debug
/tools/*/release
/tools/*/*.exe
*/tools/lemon/lemon
*/tools/re2c/re2c
*/tools/updaterevision/
*/tools/zipdir/x64
/game-music-emu/x64/
**/zdoom
**/zdoom.pk3

#not sure if should be ignored:
*/dumb/libdumb.a
*/gdtoa
*/game-music-emu/gme/libgme.a
*/lzma/liblzma.a
*/tools/zipdir/zipdir
**/*.log
**/example
vizia_api_src/controllerExample
vizia_api_src/doom2.wad
vizia_api_src/mainExample
vizia_api_src/s1_b.wad
**/link-make