recursive-include src *
recursive-include include *.h
recursive-include cmake_modules *cmake *.in
recursive-include scripts *.sh
recursive-include scenarios *wad *cfg
include CMakeLists.txt
include freedoom2.wad
