recursive-include cmake_modules *cmake *.in
recursive-include include *.h
recursive-include gymnasium_wrapper *
include scripts/repair_macos_wheel.py
recursive-include scenarios *.wad *.cfg
recursive-include src *
recursive-include tests *
include CMakeLists.txt pyproject.toml setup.py README.md
