recursive-include cmake_modules *cmake *.in
recursive-include include *.h
recursive-include gym_wrapper *
recursive-include gymnasium_wrapper *
recursive-include scripts *.sh
recursive-include scenarios *wad *cfg
recursive-include src *
include CMakeLists.txt pyproject.toml setup.py README.md
